.u-section-1 .u-sheet-1 {
  min-height: 997px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 55px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 424px;
  --gap: 30px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 30px 0;
}

.u-section-1 .u-list-2 {
  margin-top: 0;
  margin-bottom: -2px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 424px;
  --gap: 30px;
}

.u-section-1 .u-list-item-4 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-5 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-6 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 356px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: -164px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 818px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 818px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-form-1 {
  margin-bottom: 60px;
  margin-top: 20px;
  height: 406px;
}